.socialBar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  z-index: 999;
  align-items: flex-end;
}

.socialLink {
  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;

  overflow: hidden;
  transition: width 0.3s ease;

  color: var(--white);
  text-decoration: none;

  border-radius: 8px 0 0 8px;

  box-shadow: var(--box-shadow);

  justify-content: flex-start;
  transition: width 0.3s ease, background 0.3s ease;
}

.socialLink:hover,
.socialLink:focus-visible {
  width: 15rem;
}

.socialLink svg {
  min-width: 5rem;
  font-size: 2rem;
  margin-inline: 0;
}

.socialLink span {
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 500;

  padding-left: 1rem;
}

.github {
  background: #3a3a3a;
}

.linkedin {
  background: #005a86;
}

.email {
  background: var(--orange);
  color: var(--dark);
}

@media (max-width: 768px) {
  .socialBar {
    display: none;
  }
}